extends ../layouts/base

block content
  h1.title Sign Up

  if(message)
    .notification= message

  if(errors)
    each error in errors
      .notification.is-danger= error.msg

  form.form.form--signup.box(action="/signup", method="POST")
    .field
      label.label(for="name") Full Name
      .control.has-icons-left
        input#name.input(type="text", name="name")
        span.icon.is-small.is-left
          i.fas.fa-id-card-alt

    .field
      label.label(for="email") Email Address
      .control.has-icons-left
        input#email.input(type="email", name="email")
        span.icon.is-small.is-left
          i.fas.fa-envelope

    .field
      .control
        input.button.is-primary(type="submit", value="Sign Up")
